<template>
  <div class="container">
    <h1>{{isTradeAllowedByOverlord}}</h1>
    <div v-if="!handlowa">
      <p>Dziś jest {{getDayOfWeek}}</p>
      <p>Najbliższa handlowa jest {{getNearestHandlowa}}</p>
    </div>
    <div v-else>
      <canvas id="niedlapsa"></canvas>
      <p>Następna handlowa jest {{getNearestHandlowa}}</p>
    </div>
  </div>
</template>

<script>
const moment = require("moment");
import "confetti-js";

export default {
  name: "ItIs",
  data: function() {
    return {
      message: "nie",
      todayIs: "",
      daysOfTheWeek: [
        "niedziela niehandlowa",
        "poniedziałek",
        "wtorek",
        "środa",
        "czwartek",
        "piątek",
        "sobota"
      ],
      today: moment(),
      handlowa: false,
      handlowe: [
        moment("16-12-2018", "DD-MM-YYYY"),
        moment("23-12-2018", "DD-MM-YYYY"),
        moment("30-12-2018", "DD-MM-YYYY"),
        moment("27-01-2019", "DD-MM-YYYY"),
        moment("24-02-2019", "DD-MM-YYYY"),
        moment("31-03-2019", "DD-MM-YYYY"),
        moment("14-04-2019", "DD-MM-YYYY"),
        moment("28-04-2019", "DD-MM-YYYY"),
        moment("26-05-2019", "DD-MM-YYYY"),
        moment("30-06-2019", "DD-MM-YYYY"),
        moment("28-07-2019", "DD-MM-YYYY"),
        moment("25-08-2019", "DD-MM-YYYY"),
        moment("29-09-2019", "DD-MM-YYYY"),
        moment("27-10-2019", "DD-MM-YYYY"),
        moment("24-11-2019", "DD-MM-YYYY"),
        moment("15-12-2019", "DD-MM-YYYY"),
        moment("22-12-2019", "DD-MM-YYYY"),
        moment("29-12-2019", "DD-MM-YYYY")
      ]
    };
  },
  computed: {
    isTradeAllowedByOverlord: function() {
      // XD
      if (this.isHandlowa()) {
        return "tak";
      }
      return "nie";
    },
    getDayOfWeek: function() {
      return this.daysOfTheWeek[this.today.day()];
    },
    getNearestHandlowa() {
      for (const niedziela of this.handlowe) {
        if (niedziela.diff(this.today, "days") > 0) {
          return niedziela.format("DD.MM.YYYY");
        }
      }
      return null;
    }
  },
  methods: {
    isHandlowa: function() {
      for (const niedziela of this.handlowe) {
        if (niedziela.isSame(this.today, "day")) {
          this.handlowa = true;
          return true;
        }
      }
      return false;
    }
  },
  mounted: function() {
    if (this.handlowa) {
      var confettiSettings = { target: "niedlapsa", rotate: true };
      const ConfettiGenerator = window.ConfettiGenerator;
      var confetti = new ConfettiGenerator(confettiSettings);
      confetti.render();
    }
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}

#niedlapsa {
  position: absolute;
  top: 0;
  left: 0;
}
</style>
