<template>
  <div id="app">
    <IsIt id="itis"></IsIt>
  </div>
</template>

<script>
import IsIt from "./components/IsIt.vue";

export default {
  name: "app",
  components: {
    IsIt
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#itis{
  display: table-cell;
  vertical-align: middle;
}

body {
  background-color: #fafafa;
}
</style>
